@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

/* globals.css */

::-webkit-scrollbar {
  width: 8px; /* Adjusts the scrollbar width */
}

::-webkit-scrollbar-track {
  background: #10132e; /*  */ /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #CBACF9; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounds the thumb */
}

/* .pointer {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid white;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(45deg);
} */

/* .pointed-angle::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f56565;
} */

/* .pointed-angle::before {
  content: "";
  position: absolute;
  top: -40px; 
  left: 50%;
  transform: translateX(-50%); 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff; 
  transform: rotate(45deg);
} */

/* .pointed-angle {
  position: relative; 
}

.pointed-angle::before {
  content: "";
  position: absolute;
  top: -38px; 
  left: 50%;
  transform: translateX(-50%) rotate(45deg); 
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff; 
} */

/* .pointed-angle::after {
  content: "";
  position: absolute;
  top: -3px;
  bottom: 100%; 
  left: 48%;
  transform: translateX(-50%) rotate(40deg); 
  width: 0;
  height: 0;
  border-left: 14px solid transparent; 
  border-right: 10px solid transparent; 
  border-bottom: 10px solid #000319; 
} */



/* Animate on scroll animation classes */

.hide-item{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show-item{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

/* //To stager items in a list  */


.hide-logo{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-200%);
  transition: all 2s;
}

.show-logo{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.logo:nth-child(2){
  transition-delay: 200ms;
}
.logo:nth-child(3){
  transition-delay: 400ms;
}
.logo:nth-child(4){
  transition-delay: 600ms;
}
